button.form-control {
    width: 100px;
    margin-right: 5px;
}

input#fileName {
    width: 400px;
}

.button-row {
    margin-top: 10px;
    margin-left: 35px;
}

.export {
    margin-left: 10px;
}

button {
    background-color: rgb(32, 32, 32);
}

.expo {
    margin-left: 40px;
    margin-right: 20px;
}

.inerk {
    margin-left: 0px;
}

