<div class="container">
  <div class="row mt-4">
    <h1>NPV Calculator</h1>
  </div>
  <hr />
  <div class="row">
    <h3>What is Net Present Value (NPV)?</h3>
  </div>
  <div class="row">
    <p>Net present value (NPV) is the difference between the present value of cash inflows and the present value of cash outflows over a period of time. NPV is used in capital budgeting and investment planning to analyze the profitability of a projected investment or project.</p>
  </div>
  <div class="row">
    <p>The following formula is used to calculate NPV: <strong>NPV = TVECF − TVIC</strong></p>
  </div>
  <div class="row">
    <p>Where:</p>
    <ul>
      <li>TVECF - Today’s value of the expected cash flows</li>
      <li>TVIC - Today’s value of invested cash</li>
    </ul>
  </div>
  <hr />

  

  <div class="row">
    <div *ngFor="let header of headers" class="col-3 text-center">
      <h6>{{ header }}</h6>
    </div>
  </div>

  <div *ngFor="let dataRow of dataRows" class="row m-1">
    <div class="col-3">
      <input
        type="date"
        class="form-control"
        [ngModel]="dataRow.date | date: 'yyyy-MM-dd'"
        (ngModelChange)="dataRow.date = $event"
      />
    </div>
    <div class="col-3">
      <input
        type="number"
        class="form-control"
        [(ngModel)]="dataRow.moneySpent"
        (change)="onDataChange()"
      />
    </div>
    <div class="col-3">
      <input
        type="number"
        class="form-control"
        [(ngModel)]="dataRow.profit"
        (change)="onDataChange()"
      />
    </div>
    <div class="col-3">
      <input
        type="number"
        class="form-control"
        readonly
        value="{{ dataRow.profitIndex.toFixed(2) }}"
      />
    </div>
  </div>

  <div class="form-group button-row">
    <div class="row">
        <button class="btn btn-primary form-control" (click)="onAddRow()">
          Add
        </button>
        <button class="btn btn-primary form-control" (click)="onDeleteRow()">
          Remove
        </button>
    </div>
  </div>

  <hr />

  <div class="form-group">
    <div class="row">
      <div class="expo text-center">
        <label for="fileName"><h6>File export</h6></label>
      </div>
      <div class="inerk">
        <input
          type="text"
          class="form-control"
          id="fileName"
          value="Enter a file name"
          #fileNameInput
        />
      </div>
      <div class="export">
        <button class="btn btn-primary" (click)="onExport(fileNameInput.value)">
          Export CSV
        </button>
      </div>
    </div>
  </div>
</div>
